@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Titan+One&display=swap");
.order-service-container {
  max-width: 700px;
  margin: 0 auto; }

@media (max-width: 992px) {
  .order-service-container {
    max-width: 650px; } }
@media (max-width: 768px) {
  .order-service-container {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1A1A1A;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.order-service-section {
  margin-top: 193px;
  margin-bottom: 130px;
  background-color: #0D0D0D;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5); }
  .order-service-section .order-service-form .heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  .order-service-section .order-service-form .user-service {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px; }
  .order-service-section .order-service-form .horizontal-line {
    background-color: #3F3F3F;
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 20px; }
  .order-service-section .order-service-form .contact-input {
    margin-bottom: 40px; }
    .order-service-section .order-service-form .contact-input label {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      display: block; }
    .order-service-section .order-service-form .contact-input input {
      display: block;
      width: 100%;
      height: 44px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      color: #fff;
      background-color: #0D0D0D;
      border: 1px solid #00A9FF;
      border-radius: 10px;
      box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.3), inset 5px 5px 20px rgba(0, 0, 0, 0.3);
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .order-service-section .order-service-form .contact-input input:focus {
        outline: none; }
      .order-service-section .order-service-form .contact-input input::placeholder {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #707070; }
  .order-service-section .order-service-form .btn-holder {
    display: flex;
    justify-content: center; }
    .order-service-section .order-service-form .btn-holder .order-service-btn {
      font-size: 32px;
      font-weight: 700;
      color: #0D0D0D;
      background-color: #00A9FF;
      padding: 13px 48px;
      border: 1px solid #00A9FF;
      border-radius: 100px;
      outline: none;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      transition: 0.2s; }
      .order-service-section .order-service-form .btn-holder .order-service-btn:hover {
        color: #00A9FF;
        background-color: transparent; }

@media (max-width: 768px) {
  .order-service-section .order-service-form .btn-holder {
    display: block;
    width: 100%; }
    .order-service-section .order-service-form .btn-holder .order-service-btn {
      display: block;
      width: 100%;
      text-align: center; } }
@media (max-width: 400px) {
  .order-service-section {
    padding: 20px 10px; } }

/*# sourceMappingURL=order-service.css.map */
